body {
    font-family: "Rubik","Arial",sans-serif;
    font-weight: 300;
    background-color: black;
    padding-top: 55px;
}

main {
    padding-bottom: 0px;
}

header a:hover {
    background-color: #6c757d;
}

.navbar-toggler-icon {
    text-decoration-color : white;
}

#home_section {
    padding-bottom: 3rem;
    margin-bottom: 1rem;
}


.contact_icon {
    color: white;
}