body {
    font-family: "Rubik","Arial",sans-serif;
    font-weight: 300;
    background-color: black;
}

header a:hover {
    background-color: #6c757d;
}

#home_section {
    padding-bottom: 3rem;
    margin-bottom: 1rem;
}

#presentation {
    padding-top: 2rem;
}

.contact_icon {
    color: white;
}